/*TORTUE*/
.triangle{
    transform:translate(385px, 293px) rotate(180deg);
    transition: all 2s;


}
.triangle2{
    transform: translate(179px,297px) rotate(360deg);
    transition: all 2s;
}
.triangle3{
    transform:translate(382px, 200px) rotate(360deg);
    transition: all 2s;
}

.triangle4{
    transform:translate(292px, 135px) rotate(315deg);
    transition: all 2s;

}
.triangle5{
    transform:translate(220px, 209px) rotate(135deg);
    transition: all 2s;

}
.carre{
    transform: translate(65px, 180px) rotate(90deg);
    transition: all 2s;
}
.parallelogram{
    transform: translate(155px, 220px) rotate(-90deg) skew(-45deg);
    transition: all 2s;
}