/*BOUGIE*/
.triangle{
    transform: translate(225px, 250px) rotate(360deg);
    transition: all 2s
}
.triangle2{
    transform: translate(225px,350px) rotate(0deg);
    transition: all 2s;
}
.triangle3{
    transform: translate(240px, 195px) rotate(90deg);
    transition: all 2s;
}

.triangle4{
    transform: translate(225px, 350px) rotate(270deg);
    transition: all 2s;

}
.triangle5{
    transform: translate(225px, 250px) rotate(180deg);
    transition: all 2s;

}
.carre{
    transform: translate(240px, 160px) rotate(90deg);
    transition: all 2s;
}
.parallelogram{
    transform: translate(255px, 30px) rotate(246deg) skew(45deg);
    transition: all 2s;
}